name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Convert APP_NAME to lowercase
      id: lowercase
      run: echo "app_name=$(echo ${{ secrets.APP_NAME }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ steps.lowercase.outputs.app_name }}:latest
        cache-from: type=registry,ref=ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ steps.lowercase.outputs.app_name }}:buildcache
        cache-to: type=registry,ref=ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ steps.lowercase.outputs.app_name }}:buildcache,mode=max
